*{
    margin: 0;
    padding: 0;
}

.main-box{
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.sub-box{
    width: 50%;
    height: 100%;
}

.box-one{
    width: 35%;
    height: 300px;
    background-color: black;
    margin: 0 auto;
    margin-top: 25%;
}

.box-two{
    width: 14%;
    height: 300px;
    background-color: brown;
    position: absolute;
    top: 155px;
    left: 340px;
    z-index: -10;
}